
.vscode/launch.json
.vscode/settings.json
.vscode/c_cpp_properties.json
__pycache__/Services.cpython-39.pyc
.idea/workspace.xml
result_image.jpg
grand-highway-422418-s8-a8fdf54e267c.json

.idea/workspace.xml
/.idea
/.idea
.idea/workspace.xml
/.idea
.idea/workspace.xml
__pycache__/cloudCredentials.cpython-39.pyc
__pycache__/Channel.cpython-39.pyc
